<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Mettscape</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <h1>Calculator</h1>

  <mat-form-field>
    <mat-label>Mett in g Pro Person:</mat-label>
    <input matInput [formControl]="amountOfMettPerPeople">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Brötchen Pro Person:</mat-label>
    <input matInput [formControl]="amountOfBunsPerPeople">
  </mat-form-field>

  <br><br>


  <mat-form-field>
    <mat-label>Anzahl der Personen:</mat-label>
    <input matInput [formControl]="amountOfPeople">
  </mat-form-field>


  <p>
    <strong>{{ calcAmount(amountOfPeople, amountOfBunsPerPeople) }}</strong> Brötchen
  </p>
  <p>
    <strong>{{ calcAmount(amountOfPeople, amountOfMettPerPeople) }}g</strong> Mett
  </p>


</div>
